

/* Return to search page */
.return-search {
    display: block;
    margin-top: 30px;
    margin-left: 170px;
    text-decoration: none; /* Removes underline from links */
    color: rgb(27, 134, 184);

}



/* Images */
.property-images {
    margin-top: 30px;
    margin-left: 170px;
    display: flex;
    gap: 10px;
    align-items: top;
    justify-content: left;
    max-height: 610px; 
    width: 100%; 
}

.main-image img {
    height: 603px;
    width: 100%;
    border-radius: 10px;
    max-width: 900px;
    max-height: 700px;
}

.other-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.other-images img {
    width: 100%; 
    max-height: 297px; 
    border-radius: 10px;

}


/* Description */
.listing-details {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 180px;
    margin-bottom: 300px;
    max-width: 880px;
    gap: 10px;
}

.price {
    color: #b5651d;
    font-size: 40px; 
    font-weight: bold;   
}

.address {
    color: #696969;
    font-size: 20px; 
    font-weight: 700px;
    margin-top: 10px; 
}

.date-added {
    color: #696969;
    font-size: 15px; 
    font-weight: 700px;
}

/* Icons */
.icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 10px;
}

.floorplan {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.floorplan img{
    max-width: 30px;
    max-height: 30px;
}

.divider {
    height: 1px;
    background-color: #b5651d;
    width: 100%;        
    margin: 20px 0;      
}


/* Key Features & description */
.key-features {
    display: flex;
    flex-direction: row;
    gap: 200px;
    font-size: 20px;
    color: #464646;
    margin-bottom: 50px;
    list-style-type: circle;

}

.features-left li, .features-right li {
    margin-top: 20px;
    margin-bottom: 10px; 
}

.description {
    color: #646464;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 50px; 
}

#map {
    height: 500px;
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}



/* Slide Show */ 

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    margin-top: 50px;
    max-width: 1200px;
}

.mySlides {
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}



