<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For You - Flat Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <header>
        <nav>
            <div class="logo"><a href="/">Flat Finder</a></div>
            <ul class="nav-links">
                <li><a href="/for-you">For You</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/viewings">Viewings</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/lister">Lister Portal</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>{{ property.address }}</h1>
        <img src="{{ property.main_image_url }}" alt="Main Image">
        <p>{{ property.description }}</p>
        <ul>
            <li>Price: {{ property.price_pcm }}</li>
            <li>Beds: {{ property.bedrooms }}</li>
            <li>Showers: {{ property.bathrooms }}</li>
            <li>Date Added: {{ property.date_added }}</li>
            <li>Location: {{ property.location }}</li>
        </ul>
        <div><img src="{{ property.lister_logo }}" alt="Lister Logo"></div>
    </main>
</body>
</html>